{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_interactivevideo/flexbook/add-form

    TODO describe template add-form

    Example context (json):
    {
    }
}}

<div id="video-info-form">

{{! Video url}}
<div class="input-group mb-3 w-100 flex-nowrap" >
<input type="text" class="form-control w-100" id="video-url" placeholder="{{#str}}videourlplaceholder, mod_interactivevideo{{/str}}"
value="{{{url}}}">
<div class="input-group-append">
    <button class="btn upload-video btn-secondary" type="button" title="{{#str}}uploadfile, mod_interactivevideo{{/str}}"><i class="bi bi-upload"></i></button>
    <button class="btn btn-sm play-video btn-secondary" type="button"><i class="bi bi-play-fill fs-25px" title="{{#str}}loadvideo, mod_interactivevideo{{/str}}"></i></button>
    </div>
</div>

{{! Video preview}}
<div id="video-info-wrapper" class="w-100 mb-3"></div>

</div>