/* There are some serious issues with Moodle\'s way in compiling all-rtl.css file in which some rules are ignored.
Ex. @container and clusterring. So, the workaround is to keep the code in the custom.css and import it here.
Interestingly, doing it this way, the code is compiled correctly. Use this file for styles that need processing, e.g. pix .*/

@import url('/mod/interactivevideo/libraries/custom.css');

.path-mod-interactivevideo iframe[name="h5player"],
.path-mod-interactivevideo #iframe,
.path-mod-interactivevideo .hasiframe iframe,
.path-mod-interactivevideo .modalhasiframe iframe,
.path-mod-interactivevideo .loader {
    background: url([[pix:mod_interactivevideo|loader]]) center / 90px auto no-repeat;
    background-color: transparent;
    min-height: 15px;
}

.path-mod-interactivevideo [type="checkbox"]:not(.custom-control-input):not(:checked):before {
    background-image: url([[pix:mod_interactivevideo|checkbox-unchecked]]);
}

.path-mod-interactivevideo [type="checkbox"]:not(.custom-control-input):checked:before {
    background-image: url([[pix:mod_interactivevideo|checkbox-checked]]);
}

.path-mod-interactivevideo [type="checkbox"]:not(.custom-control-input):not(:checked):before {
    background-image: url([[pix:mod_interactivevideo|checkbox-unchecked]]);
}

.path-mod-interactivevideo [type="radio"]:not(.custom-control-input):checked:before {
    background-image: url([[pix:mod_interactivevideo|radio-checked]]);
}

.path-mod-interactivevideo [type="radio"]:not(.custom-control-input):not(:checked):before {
    background-image: url([[pix:mod_interactivevideo|radio-unchecked]]);
}

.path-admin-setting .ivname {
    display: inline-block;
    width: 300px;
}

.path-mod-interactivevideo #annotation-canvas.w-0 {
    width: 0;
}